@model Wk.Web.Models.CadastroProdutoVM
@{
    ViewData["Title"] = "Cadastrar Produto";
}

<style>
    #formContent {
        max-width: none;
        width: 80%;
    }

    input {
        box-shadow: 0px 2px 5px 1px #d7d7d7;
    }

    select {
        box-shadow: 0px 2px 5px 1px #d7d7d7;
    }

    hr {
        height: 2px;
        background: black;
        background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
    }



    .text-danger {
        margin-top: 10px;
        float: left;
        font-size: 12px;
        margin-left: 8%;
    }

    .flex {
        display: flex;
        flex-direction: column;
    }

    .validation {
        float: left;
    }

    label {
        margin-left: 6%;
    }
</style>

@using (Html.BeginForm("Cadastrar", "Produtos", FormMethod.Post))
{
    @Html.ValidationSummary(true, "", new { @class="text-danger" })

    <div class="panel">
        <label>Informe os dados do produto:</label>
        <br />
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class="text-danger"})
        <br />
        @Html.TextBoxFor(model => model.Nome, new { @class = "fadeIn second"})

        <br />
        @Html.ValidationMessageFor(model => model.Descricao, "", new { @class="text-danger"})
        <br />
        @Html.TextBoxFor(model => model.Descricao, new { @class = "fadeIn second"})

        <br />
        @Html.ValidationMessageFor(model => model.Qntd, "", new { @class="text-danger"})
        <br />
        @Html.TextBoxFor(model => model.Qntd, new { @class = "fadeIn second"})

        <br />
        @Html.ValidationMessageFor(model => model.Categoria, "", new { @class="text-danger"})
        <br />
        @Html.TextBoxFor(model => model.Categoria, new { @class = "fadeIn second"})
    </div>

        @*<label>Plano:</label>
        <select name="plano" class="form-group fadeIn second">
            <option value="0" selected>- Categoria -</option>
            <option value="1">Bronze</option>
            <option value="2">Prata</option>
            <option value="3">Ouro</option>
        </select>*@

    <br />
    <br />

    <input type="submit" class="fadeIn fourth" id="valida" value="Cadastrar Produto">
}